*{
    margin: 0;
    padding: 0;
}

.navicatioin nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 35px 130px 0 130px; */
}
nav ul li{
    /* list-style-type: none; */
    display: inline-block;
    padding: 10px 20px;   
}
nav .container-fluid .collapse ul li a{
    color: rgb(246, 255, 205);
    /* text-decoration: none; */
    font-weight: bold;
    font-size: 20px;
}

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
}
nav .container-fluid .collapse ul li a:hover{
    color: rgb(5, 5, 5);
}

